
#nav-wrapper {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    top: 0;
    z-index: 999;
    background: var(--color1);
    background-image: url("./pictures/banner4.jpg");
    background-position: left;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
}



/* ---------Logo bar--------- */ 


#logo-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 35px;
}


/* ---------Navbar 1--------- */ 


#firstnav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstnav-wrapper2 {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#navbar {
    display: flex;
}



#navbar ul, li, a {
    padding:0;
    margin: 0;
}



nav a {
    color: white;
}


#navbar a {
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    display:block;
    font-size: 1rem;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}



#cartlogo-wrapper {
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#cartlogo-wrapper2 {
    display: flex;
    align-items: center;

}


#cartlogo-wrapper img {
    height: 18px;
    margin-right: 10px;
}

#cartlogo-wrapper p {
    font-size: 1rem;
    color: white;
    
}

/* ---------Navbar 2--------- */ 

#navbar2 {
    background: var(--color2);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar2 ul, li, a {
    padding:0;
    margin: 0;
}

#navbar2 li {
   
}

#navbar2 a {
    
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    display:block;
    font-size: 1rem;
}

#navbar2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* --------Mobile-------- */

#emptyspace-mobile {
    height: 0px;
    }

#nav-wrapper-mobile {
        display: none;
        width: 100%;
        z-index: 999;
        position: fixed;
    }

#navbar-mobile {
    width: 100%;
    height: 54px;
    background: var(--color1);
    display: grid;
    grid-template-columns: 70% auto auto;

    }

#navbar-mobile a {
    text-decoration: none;
}

#mobilelogo {
    display: flex;
    align-items: center;
}

#mobilelogo img {
    height: 23px;
    padding-left: 10px;
    padding-bottom: 2px;
    }

#mobilecart {
display: flex;
align-items: center;
}

#cartlogo-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#cartlogo-mobile2 {
 
    display: flex;
    padding: 3px;
    }

#cartlogo-mobile2 img {
    height: 18px;
    margin-right: 10px;
    
}

#cartlogo-mobile p {
    padding-top: 1px;
    font-size: 0.9rem;
}

#mobile-hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#mobile-hamb-wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

#mobile-hamburger button {
    outline: none;
    border: none;
    background: none;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

#mobile-hamburger button img {
    height: 17px;
}

/* --------Dropdown--------- */

#dropdown-wrapper {
    background: var(--color1);
    display: none;
    visibility: hidden;
    background-image: url("./pictures/banner5.jpg");
    background-position: center;
    
}

#dropdown-wrapper nav a {
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

#mobile-list  {
    visibility: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#dropdown-wrapper li {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 15px;
    font-size: 0.9rem;
}



/* ------------------------------ */

@media (max-width: 850px) {

    #nav-wrapper {
        display: none;
    }

    #nav-wrapper-mobile {
        display: initial;
    }

    #emptyspace-mobile {
        height: 54px;
    }

}