
#sub-cat-wrapper {
    height: auto;    
}

#sub-cat-mainwrapper {
    margin: 0 auto;
    max-width: 1060px;
    padding: var(--padding1);
    background: white;
}

#subcat-presentation-pic {
   height: auto;
   
}

#subcat-presentation-pic img {
    display: flex;
    width: 100%;
}

#subcat-presentation-pic p {
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#sub-cat-tiles-wrapper {
    background: var(--color3);
    padding-bottom: 60px;
}

.subcat-tiles-emptyline {
    height: 3px;
    background: var(--color2);
}

.subcat-tiles-emptyline2 {
    height: 3px;
    background: var(--color2);
    margin-bottom: 60px;
}

#sub-cat-tiles-wrapper h1 {
  font-size: 1.6rem;
  color: var(--color1);
  padding-top: 30px;
  padding-bottom: 30px;  
  text-align: center;
}


#sub-cat-tiles {
   height: auto; 
}

.tile-wrap-product-name {
    height: auto;

}

.tile-wrap-product-price {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background: var(--color2);
    color: white;
    text-align: center;
}

/* --------------------------------- */

@media (max-width: 850px) {

    #sub-cat-tiles-wrapper h1 {
        font-size: 1.5rem;
    }

    .tile-wrap-product-price {
        font-size: 0.9rem;
    }

}